<mat-toolbar>
  <a href="/" class="non-link focus-in-expand"><span>AMUaire</span></a>
  <div class="right-categories">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon">
      <mat-icon>person</mat-icon>
    </button>
    <div class="vertical-user-buttons">
      <button mat-flat-button color="primary" (click)="modifyProfil()">Modifier son profil</button>
      <button mat-flat-button color="warn" (click)="logout()">Se déconnecter</button>
    </div>
  </div>
</mat-toolbar>
